/* General Page Styling */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

header {
    background-color: #007bff;
    color: white;
    padding: 20px 0;
    text-align: center;
    border-bottom: 5px solid #0056b3;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 36px;
}

nav {
    text-align: left;
    align-items :center;
    padding:  20px;
    background-color: #0056b3;
    color: #ffffff;
    margin-bottom: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 20 px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
    color: #f1f1f1;
}

h2 {
    color: #ffffff;
    background-color: #007bff;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

p {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 800px;
    text-align: justify;
}

p:hover {
    background-color: #f1f1f1;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

ul {
    list-style: disc inside;
    margin-left: 20px;
}
@media (max-width: 768px) {
  /* Adjust styles for mobile */
  body {
    font-size: 14px;
  }
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #0056b3;
    color: black;
    border-top: 3px solid #004085;
    position: sticky;  /*sticky
    positioning */
    width: 100%;
    bottom: 0;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}

.btn:hover {
    background-color: #0056b3;
}
